
*{
    margin: 0;
}

html {
    background-image: url("/repository/multimedia/FdM7TdWXEAAgl9g.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}



.navegacion{
    background-color: rgb(22, 85, 90);
    
}

body{
    background-color: rgba(240, 248, 255, 0);
}

nav ul {
    margin: 0;
    display: flex;
    background-color: rgba(22, 85, 90, 0.733);
    width: auto;
    height: auto;
    display: flex;
    list-style: none;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;


}

nav a {
    display: flex;
    background-color: rgba(22, 85, 90, 0);
    padding: 20px;
    text-align: center;
    justify-self: center;
    color: rgb(104, 211, 214);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    transition:  background-color 0.5s ease;
}

nav a:hover{
    background-color: rgba(36, 134, 141, 0.596);
}

nav li {
    margin: auto;
    border:solid rgb(104, 210, 214) 1px -width;
}

h1 {
    color: rgb(104, 211, 214);
    text-align: center;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20%;
    background-color:rgba(22, 85, 90, 0.904);
    border-radius:5%;
    transition: border-radius 0.5s ease;

}

.formulario:hover{
    border-radius:10%;

}

h1{
    background-color:rgba(22, 85, 90, 0);
}

form{
    color: rgb(104, 210, 214);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    line-height: 2;
    justify-content: center;
    background-color: rgba(22, 85, 90, 0);
    

}

input{
    display: flex;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.radio {
    width: auto;
    height: auto;
    display: flex;
    list-style: none;
    background-color: rgba(22, 85, 90, 0);
}
select{
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    
}
option{
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


label{
    background-color: rgba(22, 85, 90, 0);
}

input{
    background-color: rgba(36, 37, 37, 0.452)
}




